---
const { videoId, title = "YouTube video" } = Astro.props as {
	videoId: string;
	title?: string;
};

const embedUrl = `https://www.youtube.com/embed/${videoId}`;
---

<div
	class="section-media-frame taped-frame w-full min-w-0 self-center pt-[calc(var(--size-project-tape-height)*0.5)] max-[1450px]:min-h-56 max-sm:min-h-36"
	style="--tape-angle: calc(var(--section-media-tilt, 0deg) + 1.2deg);">
	<div class="section-media paper-frame section-media--embed">
		<iframe
			class="section-media-embed"
			src={embedUrl}
			title={title}
			loading="lazy"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen
		></iframe>
	</div>
</div>

<style>
	.section-media-frame {
		width: 100%;
	}

	.section-media {
		position: relative;
		min-height: 16rem;
		transform: rotate(var(--section-media-tilt, 0deg));
		min-width: 0;
	}

	.section-media--embed {
		aspect-ratio: 16 / 9;
		min-height: 0;
		overflow: hidden;
		transform: none;
	}

	.section-media-embed {
		display: block;
		width: 100%;
		height: 100%;
		border: 0;
	}

	@media (max-width: 1450px) {
		.section-media--embed {
			min-height: 0;
		}
	}

	@media (max-width: 640px) {
		.section-media--embed {
			min-height: 0;
		}
	}
</style>
