@import "tailwindcss";

@font-face {
  font-family: "Leo Handwriting";
  src: url("/fonts/Leo-Handwriting.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family:
    "Leo Handwriting", Arial, Helvetica, "Courier New", Courier, monospace,
    sans-serif;
  color: rgb(35, 35, 90);
}

main {
  margin: 2rem 8rem;
}

nav {
  padding: 2rem 4rem;
}
