@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Leo Handwriting";
  src: url("/fonts/LeoHandwriting-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


* {
  font-family:
    "Leo Handwriting", Outfit, sans-serif, Helvetica, Arial
    sans-serif;
  color: rgb(35, 35, 90);
}

main {
  margin: 2rem 8rem;
}

nav {
  padding: 2rem 4rem;
}
