---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="About">
	<h1>A little bit about me</h1>
</DefaultLayout>

<style>
	h1 {
		font-size: clamp(2.25rem, 9vw, 5rem);
		font-weight: 700;
	}
</style>
