---
import DefaultLayout from '../layouts/DefaultLayout.astro';

import Link from '../components/Link.astro';
import ImperfectButton from '../components/ImperfectButton.astro';
import NavLink from '../components/NavLink.astro';
---

<DefaultLayout title="Portfolio">
	<section id="hero">
			<h1>Welcome to Leo's Portfolio!</h1>

			<div class="flex flex-col">
				<h2>Front End Developer</h2>
				<h2>UX Designer</h2>
			</div>

			<div class="flex mt-20 gap-12 text-2xl">
				<Link href="#projects">
					<ImperfectButton fill="rgb(0 197 255 / 0.7)" hoverFill="rgb(83 210 242 / 1)">
						Projects
					</ImperfectButton>
				</Link>
				<Link href="#about">
					<ImperfectButton fill="rgb(255 230 0 / 0.7)" hoverFill="rgb(250 230 54 / 1)">
						About
					</ImperfectButton>
				</Link>
		</div>
	</section>

	<section id="projects">
		<h1>Projects</h1>
		</section>


	<section id="about">
		<h1>About</h1>
		</section>

		<footer id="contact" aria-label="Hero links">
			<NavLink href="mailto:hello@example.com" hlColour="rgb(50 255 50 / 0.7)">Email</NavLink>
			<NavLink href="https://www.linkedin.com" hlColour="rgb(50 255 50 / 0.7)">LinkedIn</NavLink>
			<NavLink href="https://github.com" hlColour="rgb(50 255 50 / 0.7)">Github</NavLink>
			<NavLink href="/resume" hlColour="rgb(50 255 50 / 0.7)">Resume</NavLink>
		</footer>
</DefaultLayout>

<style>
	:global(html) {
		scroll-behavior: smooth;
	}

	#hero {
		min-height: 100svh;
		width: 100%;
		place-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#projects {
		min-height: 100svh;
		display: flex;
		flex-direction: column;
		align-items: start;
		scroll-margin-top: 5rem;
	}

	#about {
		min-height: 100svh;
		display: flex;
		flex-direction: column;
		align-items: start;
		scroll-margin-top: 5rem;
	}

	h1 {
		margin: 0;
		font-size: 5rem;
		font-weight: 700;
		letter-spacing: -0.04em;
		text-align: center;
	}

	h2 {
		margin: 0;
		font-size: 4rem;
		line-height: 1;
		letter-spacing: -0.02em;
		text-align: center;
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		margin-top: 5rem;
		flex-wrap: wrap;
	}
</style>
