---
import DefaultLayout from "../layouts/DefaultLayout.astro";

import ImperfectButton from "../components/ImperfectButton.astro";
import ScrollDownArrow from "../components/ScrollDownArrow.astro";
---

<DefaultLayout
	title="Portfolio"
	home>
	<section id="hero">
		<h1>Welcome to Leo's Portfolio!</h1>

		<div class="flex flex-col">
			<h2>Front End Developer</h2>
			<h2>UX Designer</h2>
		</div>

		<div class="flex mt-32 gap-12 text-2xl">
			<ImperfectButton
				href="/projects"
				fill="rgb(255 230 0 / 0.7)"
				hoverFill="rgb(250 230 54 / 1)">
				Projects
			</ImperfectButton>
			<ImperfectButton
				href="/about"
				fill="rgb(0 197 255 / 0.7)"
				hoverFill="rgb(83 210 242 / 1)">
				About
			</ImperfectButton>
		</div>

		<ScrollDownArrow href="#featured" />
	</section>

	<section id="featured">
		<h3>Featured Work</h3>
	</section>
</DefaultLayout>

<style>
	#hero {
		min-height: 100svh;
		width: 100%;
		box-sizing: border-box;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#featured {
		min-height: 100svh;
		padding-top: 6rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1 {
		margin: 0;
		font-size: 5rem;
		font-weight: 700;
		letter-spacing: -0.04em;
		text-align: center;
	}

	h2 {
		margin: 0;
		font-size: 4rem;
		line-height: 1;
		letter-spacing: -0.02em;
		text-align: center;
	}

	h3 {
		margin: 0;
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -0.02em;
		text-align: center;
	}

	span {
		font-size: 2rem;
		text-align: center;
	}
</style>
