---
import NavLink from '../components/NavLink.astro';
import BgLight from '../components/BgLight.jsx';
import '../styles/global.css';

const { title, home } = Astro.props;
const navPosition = home ? 'fixed' : 'sticky';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Leo Zhou - {title}</title>
	</head>

	<body>
		<BgLight client:load>
			<nav style={`position: ${navPosition}`}>
				<div class="font-bold">
					<NavLink href="/" hlColour="rgb(50 255 50 / 0.7)">Leo Zhou</NavLink>
				</div>
				<div class="flex gap-12">
					<NavLink href="/projects" hlColour="rgb(255 230 0 / 0.7)">Projects</NavLink>
					<NavLink href="/about" hlColour="rgb(0 197 255 / 0.7)">About</NavLink>
					<NavLink href="/contact" hlColour="rgb(50 255 50 / 0.7)">Contact</NavLink>
				</div>
			</nav>
			<main>
				<slot />
			</main>

		<footer id="contact" aria-label="Hero links">
			<NavLink href="mailto:hello@example.com" hlColour="rgb(50 255 50 / 0.7)">Email</NavLink>
			<NavLink href="https://www.linkedin.com" hlColour="rgb(50 255 50 / 0.7)">LinkedIn</NavLink>
			<NavLink href="https://github.com" hlColour="rgb(50 255 50 / 0.7)">Github</NavLink>
			<NavLink href="/resume" hlColour="rgb(50 255 50 / 0.7)">Resume</NavLink>
		</footer>
		</BgLight>
	</body>
</html>

<style>
	nav {
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		box-sizing: border-box;
		z-index: 50;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 8rem;
	}

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		min-height: 100svh;
		margin: 0 8rem;
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		margin-top: 5rem;
		flex-wrap: wrap;
	}
</style>
