---
import "@fontsource/outfit";
import NavLink from '../components/NavLink.astro';
import BgLight from '../components/BgLight.jsx';
import '../styles/global.css';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Leo Zhou - {title}</title>
	</head>

	<body>
		<BgLight client:load>
			<nav class="flex justify-between items-center p-4">
				<div class="font-bold">
					<NavLink href="/" hlColour="rgb(50 255 50 / 0.65)">Leo Zhou</NavLink>
				</div>
				<div class="flex gap-12">
					<NavLink href="/projects" hlColour="rgb(0 197 255 / 0.65)">Projects</NavLink>
					<NavLink href="/about" hlColour="rgb(255 230 0 / 0.65)">About</NavLink>
					<NavLink href="/contact" hlColour="rgb(255 100 242 / 0.65)">Contact</NavLink>
				</div>
			</nav>
			<main class="flex-1 flex">
				<slot />
			</main>
		</BgLight>
	</body>
</html>
