---
import "@fontsource/outfit";
import Link from '../components/Link.astro';
import BgLight from '../components/BgLight.jsx';
import '../styles/global.css';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Leo Zhou - {title}</title>
	</head>
	<body>
		<BgLight client:load>
			<nav class="flex justify-between items-center p-4">
				<div class="text-2xl font-bold">
					<Link href="/" class="text-2xl font-bold">Leo Zhou</Link>
				</div>
				<div class="flex gap-12 text-2xl">
					<Link href="/projects">Projects</Link>
					<Link href="/about">About</Link>
					<Link href="/contact">Contact</Link>
				</div>
			</nav>
			<main>
				<slot />
			</main>
		</BgLight>
	</body>
</html>
